header {
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header input {
    margin: 20px 10px 0 0;
    padding: 2px;
}
.header button {
    margin-top: 20px;
    color: #eee;
    padding: 5px 10px;
    background-color: rgb(32, 107, 107);
}

.header button span {
    color: #fdd;
    font-size: 10px;
}

